.yellow{
    background-color: #feeb47;
}

.green{
    background-color: #a2dd4d;
}

.orange{
    background-color: #fe7541;
}

.turquoise{
    background-color: #29b6d2;
}

.purple{
    background-color: #993fdd;
}

.pink{
    background-color: #ff657f;
}

.grey{
    background-color: #8a9ca6;
}